﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>

    <title></title>

</head>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>