﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shopping Online Store</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="c:\projects\onlineshoppingstore\onlineshoppingstore.domain\content\bootstrap-theme.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Online Shopping Store</a>
        @Html.Action("Summary","Cart")
    </div>
    <div class="row-panel">
        <div id="categories" class="col-lg-3">
           @*Categories*@
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-lg-7">
            @RenderBody()
        </div>
    </div>
    
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>