﻿@model OnlineShoppingStore.Domain.Entities.Cart

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "Cart",
        new {returnUrl = Request.Url?.PathAndQuery},
        new {@class = "btn btn-default navbar-btn"})
</div>
<div class="navbar-text navbar-right">
    <b>Your Cart:</b>
    @Model.Lines.Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalValue().ToString("c")
</div>